@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/site.css" />
    <style>

        body {
            overflow-y: scroll;
        }

        .text-end a:hover{
            color: #fff; 
       
        }

        

    </style>
</head>

<body class="bg-light">
<span id=skew-bg></span>
<div class="container d-flex align-items-center min-vh-90">
<div class="row justify-content-center w-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card rounded-4">
            <div class="card-body p-5 bg-transparent">
                <h1 class="display-3" style="font-weight: 900">
                    Welcome back!
                    <small class="mb-4 display-5" style="font-weight: 500">
                        <br>
                        Log into your account!
                    </small>
                </h1>

                <form asp-page-handler="Login" method="post" class="needs-validation" novalidate>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3 ">
                        <label asp-for="Input.Email" class="form-label">Email</label>
                                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username"
                               aria-required="true" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                                <input asp-for="Input.Password" type="password" class="form-control form-control-lg"
                               autocomplete="current-password" aria-required="true" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label class="form-check-label" asp-for="Input.RememberMe">Remember me</label>
                    </div>

                    <p class="text-end">
                        <a asp-page="./ForgotPassword" class="text-decoration-none">Forgot password?</a>
                    </p>

                    <div class="mb-3 text-center mt-5">
                        <button type="submit" class="btn btn-dark btn-lg rounded-button">Sign in</button>
                    </div>

                    <hr />

                    <div class="mb-3 text-center">
                        <button type="button" class="btn btn-dark btn-lg rounded-button"
                                onclick="location.href='./Register'">
                            Create a new account
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>


</body>

</html>
