@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body { font-family: 'Squada One', sans-serif; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            overflow-y: scroll;
        }

        h1, p, label, a {
            color: #000;
        }

        body {
            font-family: "Inter", sans-serif;
        }
    </style>
</head>
<body class="bg-light">
    <span id=skew-bg></span>
<div class="container d-flex align-items-center min-vh-100">
    <div class="row justify-content-center w-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card rounded-4">
                <div class="card-body p-5 bg-transparent">
                        <h1 class="display-3" style="font-weight: 900">
                            Create
                            <small class="mb-4 display-5" style="font-weight: 500">
                                 an account.
                                <br>
                               Start generating descriptions.
                            </small>
                        </h1>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="mb-3">
                            <label for="Input_Email" class="form-label">Your email</label>
                            <input asp-for="Input.Email" id="Input_Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Input_Password" class="form-label">Enter password</label>
                            <input asp-for="Input.Password" id="Input_Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Input_ConfirmPassword" class="form-label">Confirm password</label>
                            <input asp-for="Input.ConfirmPassword" id="Input_ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button id="registerSubmit" type="submit" class="btn btn-dark btn-lg">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
