@{
    ViewData["Generate"] = "Generate";

}


    

}


<div>




    <h1> Test </h1>

    <!----------THIS IS WHERE THE IMAGE IS PREVIEWED AND THE GENERATE BUTTON APPEARS--------->


    <div id="previewImage"></div>




</div>
