
@{
    ViewData["Title"] = "Index";
}



<span class="d-flex" id="skew-bg"> </span>
<div class="container mt-5">
    <h1 class="display-3" style="font-weight: 900">
        Browse
        <small class="mb-4 display-5" style="font-weight: 500">
            your image
            <br>
            gallery!
        </small>
    </h1>
</div>

<div class="container mt-5">
    <section id="search-section" class="text-center mt-5" style="margin-top:20px;">
        @using (Html.BeginForm("Index", "Gallery", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="input-group">
                        @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search..." })
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark btn-lg">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>


    <section class="mt-5" id="showcase">

    <!-----BOOTSTRAP https://getbootstrap.com/docs/5.3/components/placeholders/ ------>

    
    <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
            </p>
            <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
        </div>
    </div>

        <div class="card" aria-hidden="true">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                </p>
                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
            </div>
        </div>


    </section>

</div>

