body {
    overflow-y: scroll;
}

/* Custom CSS to hide card background and show description on hover */
.card {
    border-radius: 20px;
    border: none;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

    .card:hover {
        transform: translateY(-10px);
    }

.card-img-top {
    object-fit: cover;
    max-height: 200px;
    border-radius: 15px;
}

.card-body {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .card-body {
    opacity: 1;
}

.dark-container {
    background-color: #08090A; /* Dark background color */
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    max-height: 350px;
    border-radius: 20px; /* Add border-radius for rounded corners */
    margin-bottom: 20px;
}
