@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <span class="d-flex" id="skew-bg"> </span>

    <div class="container mt-5">
        <h1 class="display-3" style="font-weight: 900">
            This
            <small class="mb-4 display-5" style="font-weight: 500">
                is ImageAble
                <br>
                 Learn more about how this works!
            </small>
        </h1>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 border-3">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-auto">
                                    <i class=""> </i>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="text-center">
                                        <h3 class="card-title">What is A.I?</h3>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae recusandae voluptates sint veritatis, dolorum sed quisquam ipsum, quam illo officia. Recusandae natus rem ab consequatur quibusdam cumque perferendis dolorem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-3 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <i class=""> </i>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="text-center">
                                        <h3 class="card-title">How does it work?</h3>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempore dignissimos placeat quis aliquam quaerat quisquam! Mollitia eligendi libero ad exercitationem, dolorum labore tenetur veniam! Id sed vitae laboriosam harum!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</head>

<body>

</body>

</html>
