@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <span class="d-flex" id="skew-bg"> </span>

    <div class="container mt-5">
        <h1 class="display-3" style="font-weight: 900">
            This
            <small class="mb-4 display-5" style="font-weight: 500">
                is ImageAble
                <br>
                 Learn more about how this works!
            </small>
        </h1>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 border-3">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-auto">
                                    <i class=""> </i>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="text-center">
                                        <h3 class="card-title">What A.I models are used?</h3>
                                        <p class="card-text">We are using open-source models which is pretrained, they might not be perfect. However, by fine-tuning we are able train the model to give more accurate descriptions. An evaluate model will evaluate the descriptin and give it an evaluation score to check how reliable the text is! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-3 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <i class=""> </i>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="text-center">
                                        <h3 class="card-title">How does it work?</h3>
                                        <p class="card-text">Our aim is to make images more accessible by using A.I! To use it, simply uploud an image and begin generating! If you're not satisfied feel free to edit and if you want to download the image with the description you can also do that!'</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</head>

<body>

</body>

</html>
